
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/underscore-nodejs-min.js"></script>
    <style>
        body{margin-top:10px}
       body .container:first-child span{font-size: 50px;font-weight: bold;margin-left: 10px;}
        .container .row:first-child .col-md-offset-6{font-size: 20px;line-height: 50px;}
        .container .row:first-child{margin-top:30px;}
        .text-hidden{width:340px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
        #err{display: none;}
    </style>
</head>
<body>
<% include header.ejs%>

<div class="jumbotron">
    <div class="container">
        <% if(!login){%>
        <div class="row" style="">
            <div class="col-md-offset-6 col-md-4 ">
                已有账号登录
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!--<img src="image/4.jpg" class="img-circle">-->
                <span>欢迎</span>
                <p>班级留言是我们交流的平台，欢迎注册登录，请大家畅所欲言</p>
                <p><a class="btn btn-primary btn-lg" href="/register" role="button">注册 &raquo;</a></p>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="form-group">
                        <label for="name">用户名</label>
                        <input type="name" class="form-control" name="name" id="name" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                        <label for="pwd">密&nbsp;&nbsp;码</label>
                        <input type="password" class="form-control"name="pwd" id="pwd" placeholder="请输入至少六位密码">
                    </div>
                    <input type="button" class="btn btn-default" id="doLogin" value="登录" >
                </form>
                <!--<p id="reminder"></p>-->
                <div class="alert alert-danger" role="alert" id="err"></div>
            </div>
        </div>
        <%}else{%>
        <div class="row">
            <div class="col-md-2" style="padding-top: 30px;">
                <a href="/avatar"><img src="<%=avatar[0].src%>" class="img-circle"></a>
            </div>
            <div class="col-md-9">
                <form class="form-horizontal" action="/add">
                    <p><%=username%></p>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <textarea class="form-control" name="word" rows="5" style="resize:none"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-success">发表留言</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <%}%>
    </div>
</div>

<div class="container" >
    <%if(!check){%>
    <nav aria-label="Page">
        <ul class="pagination" style="margin:0;">
            <%for(var i=0;i<Math.ceil(count/6);i++){%>
            <li class="page" data-page="<%=i+1%>"><a href="#"><%=i+1%></a></li>
            <%}%>
        </ul>
    </nav>
    <div class="row" id="allWord"></div>
    <%}else{%>
    <div class="row">
        <div class="col">
            <p><img src="<%=avatar%>"><span><%=result_word[0].name%></span></p>
            <p>【留言】<%=result_word[0].word%></p>
            <p>【时间】<%=result_word[0].time%></p>
            <a href="/" class="btn btn-default">返回</a>
        </div>
    </div>
    <%}%>
</div>

<% include footer.ejs%>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.js"></script>
<script>
    $("input").focus(function(){
        $("#err").fadeOut();
    });
    $("#doLogin").on("click",function(){
        $.ajax({
            url:"/doLogin",
            type:"post",
            data:{
                "name":$("#name").val(),
                "pwd":$("#pwd").val()
            },
            success:function(data){
                if(data=="1"){
                    window.location ="/";
                }else if(data == "-2"){
                    $("#err").fadeIn();
                    $("#err").html("用户名不存在");
                }else if(data == "-1"){
                    $("#err").fadeIn();
                    $("#err").html("密码不正确");
                }
            }
        })
    });
    $(".pagination li:first").addClass("active");
    var currPage =1;
    getDataByPage(currPage);
    function getDataByPage(page){
        $("#allWord").html("");
        $.ajax({
            url:"/page",
            data:{"page":page},
            success:function(data){
                (function it(i){
                    if(i==data.length){
                        return;
                    }
                    var name = data[i].name;
                    $.ajax({
                        url:"/findAvatar",
                        data:{"name":name},
                        success:function(data2){
                            data[i].avatar = data2[0].src;
                            var complied = _.template($("#model").html());
                            var str = complied({"name":data[i].name,"word":data[i].word,"time":data[i].time,"avatar":data[i].avatar,"_id":data[i]._id});
                            $("#allWord").append($(str));
                            it(i+1);
                        }
                    });
                })(0);
            }
        });
    }
    $("ul li").on("click",function(){
        $(this).addClass("active").siblings().removeClass("active");
        currPage = parseInt($(this).attr("data-page"));
        getDataByPage(currPage);
    });
    //添加监听事件
    $("body").keydown(function() {
        if (event.keyCode == "13") {//keyCode=13是回车键
            if($("#name").val()==""){
                $("#err").fadeIn();
                $("#err").html("请输入用户名");
            }else if($("#pwd").val()==""){
                $("#err").fadeIn();
                $("#err").html("密码不可为空");
            }else{
                $("#doLogin").click();
            }
        }
    });
</script>
<script type="text/template" id="model">
    <div class="col-md-4" style="margin:10px 0;">
        <p><img src="{{=avatar}}" class="img-circle">&nbsp;<span>{{=name}}</span></p>
        <p class="text-hidden">【留言】{{=word}}</p>
        <p>【时间】{{=time}}</p>
        <p><a href="/check?id={{=_id}}" onclick="check()" class="btn btn-default">查看详细</a></p>
    </div>
</script>
</body>
</html>
